/*Head Serif*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

/*Copy Sans Serif*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
  overflow: hidden;
	height: 100%;
	background-color: #000000;
	background-size: 61px;
	background-position: center;
	background-repeat: no-repeat;
	}

h1 {
  font-size: 80px;
  color: white;
  }
  
.glow {
  color: white;
  text-align: center;
  text-shadow: 0 0 10px #293645, 0 0 5px #293645;
}
  
p {
  width: 70%;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  line-height: 28px;
  font-size: 24px;
  }

.button-white {
  background-color: white;
  border-style: none; 
  border-radius: 18px; 
  padding: 10px 20px 10px 20px; 
  color: #96A4B6;
  transition: 0.3s;
  margin-right: 10px;
  }

button:focus { 
  outline:none;
  }

button:hover { 
  background-image:linear-gradient(45deg, #AA9090 28%, #6D6777 69%);
  /*background-color: #87767F;*/
  color: white;
  }

#scrollbox1, #scrollbox2, #scrollbox3, #scrollbox4, #scrollbox5 {
  opacity: 0;
  transition: 0.5s ease-in-out;
  }

.scrollbox-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  }

.backgroundbox {
  height: 100vh; 
  width: 100vw; 
  background-color: rgba(150, 164, 182, 1); 
  position: absolute; 
  top: 0px; 
  left: 0px;
  }


.textbox {
  width: 60%; 
  position: absolute;
  top: 0px;
  padding: 50px;
  color: #293645;
  text-align: center;
  }

  /*RESPONSIVE FOR MOBILE*/

  @media only screen and (max-width: 600px) {

  h1 {
    font-size: 50px;
  }

  p {
  width: 70%;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  line-height: 28px;
  font-size: 24px;
  }
}